.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}



/* -------ヘッダー------- */

.header {
    background-color: #141f40;
    width: 400px;
    height: 100px;

    position: relative;
}

.white {
    background-color: white;
    width: 160px;
    height: 60px;

    position: absolute;
    top: 20px;
    left: 220px;
}

.red-left {
    background-color: #a9004b;
    width: 40px;
    height: 40px;

    position: absolute;
    top: 30px;
    left: 230px;

}

.red-middle {
    background-color: #a9004b;
    width: 40px;
    height: 40px;

    position: absolute;
    top: 30px;
    left: 280px;
}

.red-right {
    background-color: #a9004b;
    width: 40px;
    height: 40px;

    position: absolute;
    top: 30px;
    left: 330px;
}
/* -------ヘッダー------- */


/* -------メイン-------- */

.left {
    background-color: #80bfa8;
    height:250px;
    width:150px;
    float: left;
}

.right {
    background-color: #8c2727;
    height:250px;
    width:250px;
    float: left;

    position: relative;
}

.orange-top {
    background-color: #ff863f;
    width: 140px;
    height: 40px;
    border: 5px solid white;
    /* float: left; */

    position: absolute;
    top: 40px;
    left: 45px;
}

.orange-middle {
    background-color: #ff863f;
    width: 140px;
    height: 40px;
    border: 5px solid white;
    /* float: left; */

    position: absolute;
    top: 100px;
    left: 45px;
}

.orange-bottom {
    background-color: #ff863f;
    width: 140px;
    height: 40px;
    border: 5px solid white;
    /* float: left; */

    position: absolute;
    top: 160px;
    left: 45px;
}


/* -------メイン-------- */


/* -------フッター------- */
.footer {
    height: 100px;
    width: 400px;
    background-color: #d98d30;
/* -------フッター------- */